.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .instruction {
        opacity: .5;
    }

    > * {
        margin: .5em;
    }

    button {
        margin: 1em;
    }
}
