.header.container, .container {
    width: 100%;
    display: flex; // ToDo: Create reusable styles
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &.titles {
        flex-direction: column;
        
        .title {
            margin: .6em .6em 0 .6em;
        }
    }

    .icon {
        margin: .5em .3em .5em .5em;
    }
}
